<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Feedback</title>
</head>
    <body>
        <div>
            <h2>Welcome to</h2>
            <h1>Hi-Zone</h1>
            <h2>feedback</h2>
        </div>

        <form
                id="feedback-form"
                action="/hi-zone-api/feedback"
                enctype="application/x-www-form-urlencoded"
                autocomplete="off"
                method="post">
            <label for="feedback-textarea">
                Feedback:
                <textarea
                        id="feedback-textarea"
                        name="feedback"
                        required="required"
                        placeholder="Enter your feedback"></textarea>
            </label>
            <label for="contact-info-input">
                Contact info:
                <input
                        type="text"
                        id="contact-info-input"
                        name="contact-info"
                        placeholder="Leave contact info to keep in touch"/>
            </label>
            <input type="submit" value="Submit"/>
            <input type="reset" value="Reset"/>
        </form>
    </body>
</html>