.feedback-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feedback-form__label {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 0.5em;
  font-size: 1.4em;
  font-weight: bold;
  width: 40em;
  max-width: 90%;
	text-shadow: 2px 2px 0 var(--secondary-color-2), -2px -2px 0 var(--secondary-color-1);
}

.feedback-form__label__input {
  padding: 0.5em;
  border-radius: 0.8em;
}

.feedback-form__label__input--textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
  border-radius: 0.8em;
  padding: 0.5em;
  font-size: 1.2em;
	border: 1px solid var(--primary-color-3);
}

.feedback-form__label__input--input {
  border-radius: 0.8em;
  padding: 0.5em;
  font-size: 0.8em;
  border: 1px solid var(--primary-color-3);
}

.feedback-form__button-container {
  display: flex;
  justify-content: center;
  margin: auto 0.5em auto 1em;
}

.feedback-form__button-container__button {
  font-size: 1.2em;
  width: auto;
  padding: 0.5em;
  border-radius: 0.8em;
  margin: 1em;
}
