.feedback-header {
  text-align: center;
  height: min-content;

	text-shadow: 4px 4px 0 var(--secondary-color-2), -4px -4px 0 var(--secondary-color-1);
}

.feedback-header__title {
		padding-bottom: 0.10em;
		font-size: 4em;
		font-weight: bold;
		width: 100%;
		margin: 0em;
		margin-top: 0.5em;
}

.feedback-header__subtitle {
		padding-bottom: 1em;
		font-size: 2em;
		margin: 0;
}