:root {
	--primary-color-1: #3fc1c9;
	--primary-color-2: #fce38a;
	--primary-color-3: #fc5185;

	--secondary-color-1: #3fc1c9;
	--secondary-color-2: #fc5185;

	--white-color: #ececeb;
	--background-color: #364f6b;
	--background-secondary-color: #3fc1c9;
}